@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* In your Tailwind CSS file */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  .ProseMirror {
    @apply border-none outline-none bg-transparent;
  }
}

.mention {
  background-color: #e0f2fe; /* Light blue */
  color: #0369a1;            /* Blue text */
  padding: 0.15rem 0.35rem;
  border-radius: 0.25rem;
  font-weight: 500;
}